.idea/
node_modules/
dist/
build/
.env
*.env.local
.DS_Store
*.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
coverage/
.turbo/
ios/Pods/
android/.gradle/
android/build/
android/app/build/
android/app/intermediates/
android/app/outputs/
android/.cxx/
*.keystore
!debug.keystore
apps/api/prisma/dev.db
apps/api/.env

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Metro
.metro-health-check*

# Built application files
*.apk
*.aar
*.aab
*.jsbundle

# Android NDK / Kotlin
.cxx/
.kotlin/

# Ruby / CocoaPods
/vendor/bundle/
